* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @font-face {
      font-family: "micro-bold" ;
      src: url("../fonts/din-next-lt-w23-bold.ttf");
    }
    @font-face {
      font-family: "micro-regular" ;
      src: url("../fonts/din-next-lt-w23-regular.ttf");
    }
  
  :root {
    --main-color: #09189e;
    --sec-color:#E5F6FF;
  }

.banner-form {
    width: 100%;
    height: calc(100vh - 70px - 250px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.321),rgba(62, 17, 222, 0.103)), url(../images/pexels-ken-tomita-389818.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner-form .container p{
    font-size: 45px;
    color: white;
    font-weight: 500;
    margin-top: 93px;
    font-family: 'micro-bold';

    }


.form-page{
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
    margin-top: 0.7rem;
}

.form-page .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form-page .container h1{
    color: var(--main-color);
    margin-top: 70px;
    font-family: 'micro-bold';
}

label{
    margin-bottom: 4px;
    cursor: text;
}
.form-page .container form input:not([type="radio"]):not([type="submit"]):not([type="checkbox"]) , select{
    display: block;
    width: 100%;
    padding: 3px 0px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.371);
    outline: none;
    margin-top: 5px;
}

#WestBank-select{
    margin-top: -27px;
}
.form-page .container form .cool input[type="radio"]{
    margin-left: 15px;
}

.hidden {
    display: none;
  }

  input::placeholder{
    transform: translateX(-7px)  ;
    -webkit-transform: translateX(-7px)  ;
    -moz-transform: translateX(-7px)  ;
    -ms-transform: translateX(-7px)  ;
    -o-transform: translateX(-7px)  ;
}
.phone-input {
    display: flex;
  }
  
  #country-code {
    width: 120px;
  }
  
  #phone-number {
    flex-grow: 1;
  }

  .phone-input input[type="text"]{
    margin-right: 4px;
  }
  
.form-page .container form .cool label{
    margin-left: 7px;
    margin-right: -10px;
}


.space:not(:first-child) {
    margin-top: 20px;
}

h1 {
    text-align: center;
}
h6 {
    margin: 0;
}
#multi-step-form-container {
    margin-top: 5rem;
}
.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.pl-0 {
    padding-left: 0;
}
.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}
.mt-3 {
    margin-top: 2rem;
}
.d-none {
    display: none;
}
.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}
.font-normal {
    font-weight: normal;
}
ul.form-stepper {
    counter-reset: section;
    margin-top: -50px;
}
ul.form-stepper .form-stepper-circle {
    position: relative;
}
ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 13px ;
}
.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
    flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}
.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}
.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}
.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-stepper a {
    cursor: default;
    text-decoration: none;
}

input:invalid {
    border: 2px solid red;
    animation: shake 0.2s 2;
    -webkit-animation: shake 0.2s 2;
}

@keyframes shake {
    25%{
        translate: 6px 0;
    }
    50%{
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }

}

input[type="checkbox"]:checked {
    accent-color: var(--main-color);

}

select{
    padding: 5px 0;
}








footer{
    background-color: var(--main-color);
    width: 100%;
    height: 350px;
}

footer .container .row .logo img{
    width: 114px;
    height: 144px;
    cursor: pointer;
}
footer .container .row{
    color: white;
}


footer .container .row .nnav a{
    display: block;
    margin: 10px 10px;
    font-size: 16px;
    text-align: center;
    font-family: 'micro-regular';
}
.icon-footer a i{
    font-size: 22px;
    margin: 0 5px;

}
footer .container .row .privUse{
    font-family: 'micro-regular';
}
footer .container .row .privUse p a{
   text-decoration: var(--sec-color) underline;
   
}
.full{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}


/* ff Start */
.ff{
    width: 100%;
    height: 47px;
background-color: #131d72;
color: white;
}
.ff .container{
    width: 100%;
    height: 100%;
}

.ff .container p{
    font-size: clamp(1rem, 1.1vw , 1.8rem);
    margin-top: 20px;
}










header {
    background-color: #09189e;
    width: 100%;
    height: 120px;
  }
  
  .container{
      width: 100%;
      height: 100%;
  }
  
  header .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  header .container .logo img {
    width: 96px;
    height: 116px;
    cursor: pointer;
  }
  
  header .container .hours{
      display: flex;
  }
  header .container .hours i{
      margin: 0 5px;
      color: white;
  }
  
  header .container .hours .headerText p {
      margin-bottom: -12px;
    font-size: 12px;
    font-weight: 800;
    font-size: 'micro-regular';
    color: white;
  }
  header .container .hours .headerText h3 {
      font-size: 20px;
      font-weight: 600;
      font-family: 'micro-bold';
      margin-bottom: -3px;
      color: white;
    }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-family: 'micro-regular';
  }
  
  
  
  
  
  header .container .mail {
    color: white;
  }
  header .container .mail a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  header .container .mail a p{
    font-family: 'micro-regular';
  }
  header .container .mail i{
      font-size: 38px;
  
  }
  
  
   .navbar-nav .nav-link {
      font-size: 19px;
      padding: 0.5rem 2rem;
      margin: 0px 0.2rem;
      font-family: 'micro-regular';
  }
  
  /* dropdown menu */
  
   .dropdown-item {
      font-size: 17px;
      font-family: 'micro-regular';
  }
  
  
   .navbar-toggler {
      height: 2.7rem;
      padding: 0;
  }
  .navbar{
      z-index: 10;
      position: sticky;
      top: 0;
      background-color: white;
      
  }
  .st{
      background-color:var(--sec-color) ;
      
      }
  
   .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }
   .nav-item a.active{
      color: var(--main-color);
      background-color: transparent;
  
  } 
  .langg{
      background-color: white;
      color: var(--main-color);
      padding: 10px 11px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
  }
  .navbar-nav .nav-item {
      margin: 0 10px;
  }
  
  .navbar-nav .nav-link {
      font-size: 19px;
      font-family: 'micro-regular';
      color: black;
      display: inline-block;
  }
  .navbar-nav .nav-link:hover{
      color: var(--main-color);
  }
  
  .dropdown-menu .dropdown-item {
      margin-bottom: 10px;
      font-family: 'micro-regular';
  }
  .dropdown-menu .dropdown-item:hover{
      color: var(--main-color);
  }

  a:hover {
    color: inherit;
    text-decoration: inherit;
}    
a.usep{
    text-decoration: underline;
    color: blue;
}
.download-pdf{
    color: black;
    text-decoration: inherit;
    font-size: 20px;
}



/* bannar Form Start */



@media (min-width:769px) and (max-width:1185px) {
    .banner-form .container p{
    font-size: 42px;
    margin-top: 93px;
    }
    .form-side div h1{
        font-size: 42px;
    }
 
}

@media (min-width:480px) and (max-width:769px) {
  .banner-form .container p{
    font-size: 35px;
    margin-top: 83px;
    }
    .form-side div h1{
        font-size: 35px;
    }

}

@media (min-width:320px) and (max-width:480px) {
  .banner-form .container p{
    font-size: 32px;
    margin-top: 73px;
    }
    .form-side div h1{
        font-size: 32px;
    }

}



/* bannar Form End */







/*  Form Start */




@media (min-width:480px) and (max-width:769px) {

    .form-page .container form input:not([type="radio"]):not([type="submit"]):not([type="checkbox"]){
        margin-bottom: 20px;

    }
    .space label {
        display: block;
        margin-bottom: 10px;
      }
      
      .space .row {
        display: flex;
        flex-wrap: wrap;
      }
      
      .space .col {
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
      
      #WestBank-select {
        margin-top: 12px;
      }
#country-code{
    padding: 0;
    width: 199px;
    height: 34px;
}

}

@media (min-width:320px) and (max-width:480px) {
    .form-page .container form input:not([type="radio"]):not([type="submit"]):not([type="checkbox"]){
        margin-bottom: 20px;

    }
    .space label {
        display: block;
        margin-bottom: 10px;
      }
      
      .space .row {
        display: flex;
        flex-wrap: wrap;
      }
      
      .space .col {
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
      
      #WestBank-select {
        margin-top: 12px;
      }
      .phone-input{
        display: flex;
        flex-direction: column;
      }
#country-code{
margin-bottom: 12px;
}
label.confiarm{
    font-size: 13px;
}
.form-page {
    overflow: hidden;
    margin: 0;
}
ul.form-stepper li a .form-stepper-circle{
    height: 30px;
    width: 30px;
}

}


/*  Form End */







/* Footer Start */


@media (min-width:768px) and (max-width:1200px) {
    footer{
        height: 373px;
      }
  
  
  }
  
  @media (min-width:767.90px) and (max-width:992px) {
      footer{
          height: 445px;
        }
  }
  
  @media (min-width:576px) and (max-width:767.90px) {
    footer{
      height: 880px;
    }
    footer .container .logo{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
    }
    .nnav{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
  }
  
  @media (min-width:320px) and (max-width:575.90px) {
    footer{
      height: 930px;
    }
    footer .container .logo{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
    }
    .nnav{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
  }
  
  
  
  
  
  
  
  /* Footer End */








/* header */

@media (max-width:991.5px) {

    /* 01 Navbar CSS */
     .navbar-nav .nav-link {
        padding: 0.4rem 0.3rem;
        margin-bottom: 1rem;

    }
    .dropdown-menu .dropdown-item{
        background-color: transparent;
    }
    .dropdown-menu .dropdown-item:hover{
        background-color: transparent;
    }

}






/* laptop for page 1 */
@media (max-width:991.5px) {
    .navbar-nav .dropdown-menu{
        border: none;
    }

   }
   /*end laptop for page 1 */
   
   /* ipad for page 1 */
   @media (min-width:480px) and (max-width:769px) {
        header{
        height: 125px;
    }
    header .container .logo img {
    width: 75px;
    height: 75px;
}

header .container .hours{
    margin-right: 20px;
}


header .container .hours .headerText p {
   margin-bottom: -14px;
    font-size: 9px;
}
header .container .hours .headerText h3 {
   font-size: 13px;
    margin-bottom: 0px;
  }


header .container .mail a i{
   font-size: 25px;

}
header .container .mail a p{
   font-size: 14px;

}
.langg{
    padding: 6px 7px;
}


header .container .lann{
    margin-right: 28px;

}


header .container .lann .langu{
    padding: 6px 15px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    margin-top: 16px;
    font-size: 11px;
}
header .container .lann .langu li{
    font-size: 13px;
    font-family: 'micro-regular';
}

.langu .dropdownn{
    background-color: white;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 28px;
  left: -20px;
  z-index: 99;
  font-weight: 500;
}
.langu .dropdownn a{
    color: black;
    font-family: 'micro-bold';
}
   

   }
   /*end ipad for page 1 */
   
   /* mobail for page 1 */
   @media (min-width:320px) and (max-width:480px) {
        header{
        height: 200px;
        

    }
    header .container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }


header .container .logo img {
     width: 67px;
    height: 85px;   
}

header .container .hours{
    margin-right: -13px;
}


header .container .hours .headerText p {
   margin-bottom: -14px;
    font-size: 9px;
}
header .container .hours .headerText h3 {
   font-size: 13px;
    margin-bottom: 0px;
  }

  header .container .mail{
    margin-right: -47px;
    margin-top: -15px;
  }
  header .container .mail a{
    flex-direction: row;
    justify-content: initial;
  }
header .container .mail a i{
   font-size: 22px;
    margin-right: 39px;
    margin-bottom: 0px;
}
header .container .mail a p{
   font-size: 15px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.langg{

margin: auto;
padding: 5px 5px;
font-size: 16px;
}
.dropdown{
    margin: auto;
}

header .container .lann{
    margin: auto;

}

header .container .lann .langu{
    padding: 6px 15px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    margin-top: 16px;
    font-size: 11px;
}
header .container .lann .langu li{
    font-size: 13px;
    font-family: 'micro-regular';
}

.langu .dropdownn{
    background-color: white;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 20px;
  left: -20px;
  z-index: 99;
  font-weight: 500;
}
.langu .dropdownn a{
    color: black;
    font-family: 'micro-bold';
}
   }